.index-appbar {
  min-width: 320px !important;
  height: 64px !important;
  padding: 12px 24px !important;
  display: flex !important;
  justify-content: center !important;
  box-sizing: border-box !important;
}

.index-appbar-title {
  height: 100% !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.index-container {
  margin-top: 64px !important;
  display: flex !important; 
  justify-content: center !important; 
  align-items: center !important; 
  height: calc(100vh - 64px) !important;
  min-width: 320px !important;
  padding: 12px 24px !important;
  box-sizing: border-box !important;
  flex-direction: column !important;
  position: relative !important;
}

.index-textfield {
  width: 100% !important;
  max-width: 320px !important;
  /* margin-bottom: 12px; */
}

.index-success {
  position: absolute !important;
  top: 50px !important;
  max-width: 300px !important;
}

@media screen and (max-width: 480px) {
  .index-appbar {
    padding: 12px 12px !important;
  }

  .index-container {
    padding: 12px 12px !important;
  }
}